body {
    font-family: Oregano;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#home_wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/*Search bar*/
form.example {
    margin: auto;
    width: 350px;
}
    form.example input[type=text] {
        padding: 15px;
        font-size: 16px;
        border: none;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        float: left;
        width: 80%;
        background: rgba(241,243,245,1);
        color: rgba(0, 0, 0, 0.42);
    }

        form.example input[type=text]:hover {
            background: rgba(241, 245, 247, 1);
        }

    form.example button {
        float: left;
        width: 20%;
        padding: 15px;
        background: #ddd;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

        form.example button:hover {
            background: rgba(187, 187, 187, 0.80);
        }

    form.example::after {
        content: "";
        clear: both;
        display: table;
        border: none;
    }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Menu Styling*/
.menu {
    -webkit-filter: url("#shadowed-goo");
    filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
    background: #274156;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
    display: none;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: absolute;
    left: 4.5%;
    margin-left: -80px;
    padding-top: 20px;
    padding-left: 80px;
    width: 650px;
    height: 150px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
}

.menu-item:hover {
    background: white;
    color: #274156;
}

.menu-item:nth-child(3) {
    transition-duration: 180ms;
}

.menu-item:nth-child(4) {
    transition-duration: 180ms;
}

.menu-item:nth-child(5) {
    transition-duration: 180ms;
}

.menu-item:nth-child(6) {
    transition-duration: 180ms;
}

.menu-open-button {
    z-index: 70;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

    .menu-open-button:hover {
        -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

    .menu-open:checked ~ .menu-item:nth-child(3) {
        transition-duration: 190ms;
        -webkit-transform: translate3d(110px, 0, 0);
        transform: translate3d(110px, 0, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
        transition-duration: 290ms;
        -webkit-transform: translate3d(220px, 0, 0);
        transform: translate3d(220px, 0, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
        transition-duration: 390ms;
        -webkit-transform: translate3d(330px, 0, 0);
        transform: translate3d(330px, 0, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
        transition-duration: 490ms;
        -webkit-transform: translate3d(440px, 0, 0);
        transform: translate3d(440px, 0, 0);
    }

.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        color: #274156;
        font-family: Oregano;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 80;
        bottom: 150%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
