/* FFFF73 */
*, a, .newsEvent2 h3 {
    background-image: none !important;
    background-color: #000 !important;
    color: #ff0 !important;
    border-color: #ff0 !important;
}

input {
    border: 1px solid #ff0 !important;
    font-size: 1em !important;
    line-height: 1em !important;
    text-indent: 0 !important;
}
